controller_list:
  - name: fake_arm_controller
    type: $(arg fake_execution_type)
    joints:
      - base
      - shoulder
      - elbow
  - name: fake_effector_controller
    type: $(arg fake_execution_type)
    joints:
      []
initial:  # Define initial robot poses per group
  - group: arm
    pose: tuck
