joint_state_controller:
  type: joint_state_controller/JointStateController
  publish_rate: 50

arm_position_controller:
  type: position_controllers/JointTrajectoryController
  joints:
    - base
    - shoulder
    - elbow
  constraints:
    base:
      goal: 0.01
      trajectory: 0.01
      time: 10.0
    shoulder:
      goal: 0.01
      trajectory: 0.01
      time: 10.0
    elbow:
      goal: 0.01
      trajectory: 0.01
      time: 10.0
  gains:
    base:
      p: 0.4079
      i: 0.05242
      d: 0.1964
      i_clamp: 1
    shoulder:
      p: 3.149
      i: 4.687
      d: 0.03102
      i_clamp: 1
    elbow:
      p: 31.12
      i: 10.22
      d: 0.3102
      i_clamp: 1
