controller_list:
  - name: arm_position_controller
    action_ns: follow_joint_trajectory
    type: FollowJointTrajectory
    default: True
    joints:
      - base
      - shoulder
      - elbow
  - name: arm_gripper_controller
    action_ns: gripper_action
    type: GripperCommand
    default: True
    joints:
      []
